<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || "Todo" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-orange-300 antialiased">
    <header class="px-4 sm:px-6 lg:px-8 bg-white">
      <div class="flex items-center justify-between border-b border-zinc-100 py-3">
        <div class="flex items-center gap-4">
          <a href="/">
            Todo
          </a>
        </div>
        <div class="flex items-center gap-4">
          <%= if @current_user do %>
            <a
              href={~p"/users/settings"}
              class="text-[0.8125rem] font-semibold leading-6 text-zinc-900 hover:bg-gray-300 p-3 rounded-md"
            >
              Settings
            </a>
            <a
              href={~p"/users/log_out"}
              class="text-[0.8125rem] font-semibold leading-6 text-zinc-900 hover:bg-gray-300 p-3 rounded-md"
            >
              Log out
            </a>
          <% else %>
            <a
              href={~p"/users/register"}
              class="text-[0.8125rem] font-semibold leading-6 text-zinc-900 hover:bg-gray-300 p-3 rounded-md"
            >
              Register
            </a>
            <a
              href={~p"/users/log_in"}
              class="text-[0.8125rem] font-semibold leading-6 text-zinc-900 hover:bg-gray-300 p-3 rounded-md"
            >
              Log in
            </a>
          <% end %>
        </div>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
